body,div,dl,dt,dd,ul,ol,h1,h2,h3,h4,h5,form,textarea,p,block,pre,fieldset,ui,li
 {
    padding:0;
    margin:auto auto 0px auto;
    height:32px;
    width: 1125px;
}
body
{
    background-color: rgb(237,237,237);
    font-family:Arial, helvetica, sans-serif;
    font-size:12px;
}
 .header
 {
     background-color: rgb(254,254,254);
    text-emphasis-color: red;
 }
 .wrapper
 {
    width:1125px;
    margin:auto;
 }
 .content
 {
width:100%;
background-color: rgb(254,254,254);
border: 1px solid rgb(224,224,224);
border-radius: 5px 5px 5px 5px;
float:left;
margin-top:8px;
min-height:435px;
 }
 .menu
 {

    background-color:rgb(10, 110, 178);
     margin: 0px 0px 10px;
     padding: 0px;
     height: 63px;
     color: rgb(243, 243, 243);
     border-radius: 5px 5px 5px 5px;
 }
 .menu ul li
 {
     float:left;
     display:block;
     list-style: none;
     width: 125px;
    text-align:right;
margin:auto;
}
 .menu ul li a:hover
 {
     height:15px;
     background-color: #ff5604;
     border-right: 1px solid rgb(14, 89, 130);
     text-align:center;
 }
 .menu ul li ul
 {
     display:none;
     height:19px;
 }
 .menu ul li:hover ul
 {
     display:block;
     height:15px;
     width:auto;
 }
 .menu ul li a
 {
font-size: 14px;
font-weight: bold;
padding: 8px 20px;
color: rgb(255, 255, 255);
text-decoration:none;
display:block;
    height: 15px;
    text-align:center;
    width: 100px;
margin:auto;
}
.clear
{
    clear:both;
    height:10px;
}
.footer h3
{
    height: 3px;
    background-color: rgb(10, 110, 178);
    color: rgb(255,255,255);
    border-radius: 5px 5px 5px;
    width: 1100px;
    padding: 15px;
    text-align:center;
}
